/* --------------------------------------------
 *  タイプセレクタ
 * --------------------------------------------*/
/* 1.ボディ */
body{
    margin:0;
}

/* --------------------------------------------
 *  スピナーダイアログ
 * --------------------------------------------*/
/* 1.スピナーコンテナ */
.SpinerContainer{
    position: fixed;
    left: 0;
    right: 0;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.2);
    z-index: 99999;
}
/* 2.スピナー表示領域 */
.SpinerBox{
    padding:16px;
    background-color: #fff;
    border-radius: 8px;
    display:flex;
    align-items: center;
    gap:10px;
}
/* 3.スピナー */
.Spinner{
    border:4px solid #eee;
    border-top:4px solid #888;
    border-radius:50%;
    width:28px;
    height:28px;
    animation:spin 1s linear infinite
}
/* 4.スピナーアニメーション */
@keyframes spin{to{transform:rotate(360deg)}}